.catagories {
  font-family: iransans;

  padding: 50px 50px;

  background: white;
}
.catagories > .tholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}
.catagories > .tholder > .title {
  font-size: 36px;

  max-width: fit-content;

  text-align: center;
}

.catagories > .tholder > .line {
  height: 3px;

  max-width: 150px;
  width: 150px;
  margin: 0 15px;
  border-radius: 5px;
  background-color: black;
}

.catagories > .container {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catagories > .container > .cat > img {
  width: 100%;
  height: 100%;

  position: absolute;
}

.catagories > .container > .cat {
  position: relative;
  align-items: center;
  font-family: iransans;
  justify-content: center;
  /* width: 300px;
    height: 300px; */
  flex: 1 1 240px;
  max-height: 300px;
  height: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  overflow: hidden;
}
.catagories > .container > .cat > .layer {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.321) 0%,
    rgba(58, 58, 58, 0.068) 100%
  );
  transition: 1s;
}

.catagories > .container > .cat:hover > .layer {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.646) 0%,
    rgba(58, 58, 58, 0.176) 100%
  );
  transition: 0.6s;
}

.catagories > .container > .cat:hover > .title {
  transform: scale(1.05);
  transition: 0.6s;
}

.catagories > .container > .cat > .title {
  transform: scale(1);
  transition: 0.6s;
  color: white;
  font-size: 25px;
  z-index: 2;
  text-align: center;
}

.catagories > .container > .cat:hover > .line {
  width: 60px;
  transition: 0.6s;
}
.catagories > .container > .cat > .line {
  width: 0px;
  height: 2px;
  background-color: white;
  z-index: 2;
  transition: 1s;
}

.catagories > .container > .cat:hover > .btn {
  transform: translate(0, 0px);
  transition: 0.6s;
}

.catagories > .container > .cat > .btn:hover {
  transition: 0.5s;
  color: white;
}
.catagories > .container > .cat > .btn {
  margin-top: 5px;

  background-color: rgba(254, 8, 8, 0);
  border: 0px solid red;
  color: rgb(214, 214, 214);
  font-size: 15px;
  z-index: 2;
  font-family: iransans;
  text-align: center;
  transform: translate(0, 200px);
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  .catagories > .tholder > .title {
    font-size: 30px;
  }
  .catagories > .container > .cat > .title {
    font-size: 23px;
  }
}

@media only screen and (max-width: 650px) {
  .catagories > .tholder > .title {
    font-size: 23px;
    flex: 2;
  }

  .catagories > .tholder > .line {
    max-width: 60px;
  }
  .catagories {
    font-family: iransans;

    padding: 20px 20px;

    background: white;
  }
  .catagories > .container > .cat > .title {
    font-size: 18px;
  }

  .catagories > .container > .cat > img {
    width: auto;
    height: 100%;

    position: absolute;
  }
}
@media only screen and (max-width: 380px) {
  .catagories > .tholder > .title {
    font-size: 20px;
    flex: 2;
  }

  .catagories > .tholder > .line {
    max-width: 15px;
  }
}
