.footer {
  display: flex;
  padding: 50px 50px;
  position: relative;
  background-color: #f3cd9e;
  justify-content: space-between;
  color: #532b23;
  font-family: iransans;
}
.footer > .links {


  display: flex;
  flex-direction: column;

  justify-content: center;
}

.footer > .links > .link:hover {
    color: #532b23;
}
.footer > .links > .link {
  text-decoration: none;
  color: #532b23ce;
  position: relative;
  font-size: 19px;
  text-align: right;
right: 20px;
margin: 5px;
}

.footer > .flogo > img{
  width: 100%;
  height: 100%;
}
.footer > .flogo {
    max-width: 200px;
  max-height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 650px) {


.footer > .flogo {
    max-width: 130px;

}

.footer > .links > .link {
  font-size: 17px;
}

.footer {
  display: flex;
  padding: 20px 20px;}


}