.products {
  padding: 40px 50px;
  font-family: iransans;
  background-color: #65350f;
}
.products > .title {
  margin: auto;

  width: fit-content;
  color: white;

}

.products > .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
  flex-wrap: wrap;

    padding: 30px 0;
}


.products > .container > .product{
    flex: 1 1 220px;
    overflow: hidden;
    min-height: 400px;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px;
    border-radius: 2px;
}

.products > .container > .product > img{
    height: 400px;
    width: auto;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);


}

.products > .container > .product >.title{
    text-align: center;
    font-size: 30px;
    color: white;
    z-index: 2;
    position: relative;
    transition: 1s;
    transform: translate(0,300px);
}



.products > .container > .product:hover >.title{

transform: translate(0,00px);
transition: .6s;
}


.products > .container > .product >.layer{
position: absolute;
width: 100%;
height: 100%;
right: 0;
top: 0;
transition: 1s;
background-color: rgba(0, 0, 0, 0);
}

.products > .container > .product:hover>.layer{
   transition: .6s;
    background-color: rgba(0, 0, 0, 0.424);
    }




@media only screen and (max-width: 700px) {


  .products > .title {
    margin: auto;
    font-size: 25px;
  
    width: fit-content;
    color: white;
  
  }



}


@media only screen and (max-width: 500px) {


  .products > .title {
    margin: auto;
    font-size: 20px;
  
    width: fit-content;
    color: white;
  
  }





}


@media only screen and (max-width: 400px) {


  .products > .title {
    margin: auto;
    font-size: 17px;
  
    width: fit-content;
    color: white;
  
  }


}

@media only screen and (max-width: 650px) {

  .products {
    padding: 20px 20px;
    
  }

}